<div class="einfo">
    <div class="name">
        <h1>{{current.name}}</h1>
    </div>

    <div class="description">
        <h3>Ratings: </h3>

        <star-rating 
            class="star"
            value="{{current.rating.value}}" 
            totalstars="5" 
            checkedcolor="red" 
            uncheckedcolor="black" 
            size="27px" 
            readonly="true" 
            (rate)="onRate($event)">
        </star-rating>
        <br>
        <h3>Description: </h3>
        <h4>{{current.description}}</h4>    
    </div>

    <div class="image">
        <img src="{{current.pictures}}" >
    </div>

    
</div>
