<div class="footer">
    <div class="footerContent">
        <div class="footerSectionAbout">
            <h1 class="title"><span>Goa</span> Travel Mate</h1>
            <p>
                Goa Travel Mate is an online recommendation website created 
                for all you people to explore the hidden gems of Goa.
                We prove all information on places you can explore 
                and the activites you can enjoy. So buckle your seat belts, 
                pack your bagpacks and be ready to enjoy your trip to Goa 
                with Goa Travel Mate. 
            </p>
        </div>

        <div class="footerSectionImg">
            <img src="..\assets\Logo.png">
        </div>

        <div class="footerSectionContact">
            <h2>Contact us At: </h2>
            <span><i class="fas fa-phone"></i>&nbsp;   1234567890</span>
            <span><i class="fas fa-envelope"></i>&nbsp;   xyz@gmail.com</span>

            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>

    <div class="footerBottom">
        &copy; CopyRights@2020 | Made with love in Goa.
    </div>
</div>