<div class="row">
    <span class="card" >
        <img src="\assets\FLYBOARDING.jpg" style="width:100%">
        <a routerLink="/activitiess/"><button class="button">FLYBOARDING</button></a>
    </span>

    <span class="card" >
        <img src="\assets\GAMES OF GOA.jpg" style="width:100%">
        <a routerLink=""><button class="button">GAMES OF GOA</button></a>
    </span>

    <span class="card" >
        <img src="\assets\GRAND ISLAND TRIP AND HANSA BEACH.jpg" style="width:100%">
        <a routerLink=""><button class="button">GRAND ISLAND TRIP AND HANSA BEACH</button></a>
    </span>

    <span class="card" >
        <img src="\assets\JET SKIING.jpg" style="width:100%">
        <a routerLink=""><button class="button">JET SKIING</button></a>
    </span>

    <span class="card" >
        <img src="\assets\FULL BODY AROMA THEROPY MASSAGE, OIL THERAPY.jpg" style="width:100%">
        <a routerLink=""><button class="button">FULL BODY AROMA THEROPY MASSAGE</button></a>
    </span>

    <span class="card" >
        <img src="\assets\FULL BODY DEEP TISSUE MASSAGE.jpg" style="width:100%">
        <a routerLink="/activity/"><button class="button">FULL BODY DEEP TISSUE MASSAGE</button></a>
    </span>

    <span class="card" >
        <img src="\assets\HOT OIL THERAPY.jpg" style="width:100%">
        <a routerLink=""><button class="button">HOT OIL THERAPY</button></a>
    </span>

    <span class="card" >
        <img src="\assets\FULL BODY TRADITIONAL THAI MASSAGE.jpg" style="width:100%">
        <a routerLink=""><button class="button">FULL BODY TRADITIONAL THAI MASSAGE</button></a>
    </span>
</div>
