<div>
    <h1>Flyboarding</h1>
    <img src="\assets\FLYBOARDING.jpg">
    <p>Enjoy the FlyBoarding in Goa, exciting Flyboarding experiences. We offer the best and reasonable Flyboarding in Goa. Flyboarding is a whole new adventure that is enjoyable for thrill and adventure-seekers. Make sure to bring a camera because you’re sure to want to capture this memorable experience and take amazing Flyboard shots that you can brag about to your loved ones.  Get an unforgettable experience in Goa by trying out the newest extreme Flyboarding! Experience an excellent view as you fly high over the Chapora River Be joined by expert instructors who will take you through basic tactics Come home with an astounding experience, photos, and videos to share with friends.</p>
</div>

<h1>Games of Goa</h1>
<img src="\assets\GAMES OF GOA.jpg">
<p>The beautiful land of Goa on the west coast of India is everyone's favourite, and integral to the soul of this place are the games played here. Most of the Goans have grown up playing these games, which are now getting rare and extinct. This thought has given rise to The Games of Goa festival, created by Dattaprasad Shetkar and Soul Travelling.
</p>

<h1>Grand island trip and Hansa Beach</h1>
<img src="\assets\GRAND ISLAND TRIP AND HANSA BEACH.jpg">
<p>A full day trip leaving at 8.15 a.m. We head out to Grand Island also called as Grande Island or Bat Island, watching for dolphins on the way.  On arrival we drop anchor so you can swim and snorkel viewing the marine life (all snorkeling equipment is provided).We then head for the beach for lunch where we have a traditional B.B.Q, beers and fresh fruit. The rest of the afternoon can be spent sunbathing, swimming and relaxing on this secluded beach. For all those who love fishing  can also try their hand on Bait Fishing absolutely free!! Fishing in Goa is yet another famous activity among tourist visiting Goa.
</p>

<h1>Jet skiing</h1>
<img src="\assets\JET SKIING.jpg">
<p>If you have the need for speed then you surely have to try riding a Jet Ski in Goa. Jet skiing is one of the most exciting and thrilling watersports activities being offered in Goa and it is very safe to use.  Jet Skiing in Goa is excellent for all the travelers seeking adventure as well as those who want to just have a fun experience with family and friends. It is also very easy to maneuver and beginners won’t have any difficulty trying to learn how to ride one.
</p>

<h1>Full body Aroma Theraphy massage</h1>
<img src="\assets\FULL BODY AROMA THEROPY MASSAGE, OIL THERAPY.jpg">
<p>This holistic treatment has a profound impact on the body, mind and spirit. Experience the deep state of relaxation with two powerful combinations: Oil and Massage</p>

<h1>Full body deep tissue massage</h1>
<img src="\assets\FULL BODY DEEP TISSUE MASSAGE.jpg">
<p> An advances form of Aromatherapy, this treatment focuses on using direct deep pressure on muscles and connective tissue. Designed to unwind the body and lift up the spirits.
</p>

<h1>Full body swedish massage</h1>
<img src="\assets\FULL BODY SWEDISH MASSAGE.jpg">
<p>An advance form of Aromatherapy, this treatment focuses on using direct medium tissue pressure on muscles and connective tissue. It includes techniques like circular pressure applied by the hands and palms, firm kneading, percussion-like tapping, bending and stretching.
</p>

<h1>Full body traditional Thai massage</h1>
<img src="\assets\FULL BODY TRADITIONAL THAI MASSAGE.jpg">
<p>This traditional Thai dry therapy combines elegant elements of Yoga, Shiatsu and acupressure, working with the energy pathways of the body and the therapy points that are locked along these lines.
</p>

<h1>Hot oil theraphy</h1>
<img src="\assets\HOT OIL THERAPY.jpg">
<p>Originating in India, this massage uses warm aromatic oils, kept at a constant temperatiure throughout. Thai Hot Oil massage stimulates the essential sensory organs and can help to prevent numerous ailments.It alternates smooth movements and deep pressure, accompanied by tapping and rubbing movements to relieve tensest muscles.
</p>