<div class="all">
    <div class="row">
        <span class="card">
            <a [routerLink]="['/waterfalls']"><img src="assets\waterfalls.jpeg" style="width:100%"></a>

            <a routerLink="/waterfalls">
                <p> <button class="button">Waterfalls</button></p>
            </a>
        </span>


        <span class="card">

            <a [routerLink]="['/romanticPlaces']"><img src="assets\romantic-places.jpg" style="width:100%"></a>

            <a routerLink="/romanticPlaces">
                <p><button class="button">Romantic Places</button></p>
            </a>
        </span>

        <span class="card">

            <a [routerLink]="['/beaches']"><img src="\assets\beaches.jpeg" style="width:100%"></a>
            <a routerLink="/beaches">
                <p> <button class="button">Beaches</button></p>
            </a>
        </span>
    </div>
    <br>



    <div class="row">
        <span class="card">
            <img src="\assets\shopping.jpeg" style="height:78%">
            <a routerLink="/shoppingPlaces">
                <p><button class="button">Shopping</button></p>
            </a>
        </span>

        <span class="card">
            <img src=" \assets\religious-places.jpeg" style="height:78%">
            <a routerLink="/religiousPlaces">
                <p> <button class="button">Religious places</button> </p>
            </a>
        </span>

        <span class="card">
            <img src="\assets\picnic.jpg" style="height:78%">
            <a routerLink="/picnicSpots">
                <p><button class="button">Picnic Spots</button></p>
            </a>
        </span>
    </div>

</div>
