body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    grid-gap: 10px;
    align-content: center;
}



.contact .contactInfo h1{
    text-align: center;
    font-weight: 300px;
    color: rgb(34, 32, 32);
}

.contact .contactInfo h4{
    background: #ff9b00;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
}

.contactForm label{
    font-weight:600;
}
.contactForm button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contactForm button:focus{
    box-shadow:none;
}