<button class="accordion" (click)="accordion()">What would you like to do in Goa?</button>
<div class="panel">
    <p><b>Free and Liberal Environment</b><br>Goa is a very liberal place where you can wear the type of clothes you want, drink alcohol freely and just unwind yourself without anyone judging you.
        <br><br>
        <b>Serene Beaches</b><br>The beaches, especially in North Goa are clean and mesmerizing. Spending a day lying on the beach, enjoying the salty sea breeze blowing over youis an unforgettable feeling.
        <br><br>
    </p>
</div>

<button class="accordion" (click)="accordion()">What are the best adventure activities that can be done in Goa?</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

<button class="accordion" (click)="accordion()">What are the adventure water sports available in Goa?</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

<button class="accordion" (click)="accordion()">How expensive is Goa?</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>

<button class="accordion" (click)="accordion()">What is the best time to go on a holiday to Goa?</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>
