<button class="accordion" (click)="accordion()">What would you like to do in Goa?</button>
<div class="panel">
    <p><b>Free and Liberal Environment</b><br>Goa is a very liberal place where you can wear the type of clothes you
        want, drink alcohol freely and just unwind yourself without anyone judging you.
        <br><br>
        <b>Serene Beaches</b><br>The beaches, especially in North Goa are clean and mesmerizing. Spending a day lying on
        the beach, enjoying the salty sea breeze blowing over youis an unforgettable feeling.
        <br><br>
        <b>Facilities for Tourists</b><br>Since Goa is a tourism state, there are many facilities for tourists like
        rented bikes, general stores, medical stores, options for accommodation, variety cuisine restaurants and
        entertainment facilities. A tourist in Goa will never feel uncomfortable or lacking because of this.
        <br><br>
    </p>
</div>

<button class="accordion" (click)="accordion()">What are the best adventure activities that can be done in Goa?</button>
<div class="panel">
    <p>There are a number of adventuires for one to indulge in Goa. Some of which are:
        <br><b>
        <br>Trekking to Dudhsagar falls or the Vagheggiare peak
        <br>Scuba Diving at Grand Island
        <br>Snorkelling and Dolphin Spotting at Grande Island
        <br>Water skiing at Mobor Beach and so on..</b>
        <br><br>
        You may also consider trying out some offbeat activities like:
        <br><br><b>
        Backwater Kayaking at Sylvan Siridao
        <br>
        Camping in south side of Palolem Beach</b>
    </p>
</div>

<button class="accordion" (click)="accordion()">What are the adventure water sports available in Goa?</button>
<div class="panel">
    <p>Goa is popular destination for water sports in India. It is the go-to place for some of the exclusive water sports activities that can be enjoyed only here:
        <br><br>
        <b>
            Jet Ski rides at famous beaches like Candolim, Baga and Vagator<br>
            Parasailing at famous beaches like Anjuna and Vagator<br>
            Ringo Rides can be best enjoyed at Pindul Cave<br>
            Speed Boating at Baina Beach and many more!
        </b>
    </p>
</div>

<button class="accordion" (click)="accordion()">How expensive is Goa?</button>
<div class="panel">
    <p>Goa, being a tourist destination has something for everyone. You can find reasonable homestays as well as luxury resorts, local shacks as well as 5-star dining, affordable transport as well as fancy cars.
        <br><br>
        Thus, Goa is not an expensive state if you're looking for a vacation. It has everything that may turn into a luxury vacation if you want. But for anybody who is not looking to engage in luxury, Goa is beautiful and inexpensive.
    </p>
</div>

<button class="accordion" (click)="accordion()">What is the best time to go on a holiday to Goa?</button>
<div class="panel">
    <p>The best time to visit Goa is from the month of September to mid-March. These few months are considered to be the
        best and peak season in Goa. The state witnesses the celebration of many parades, carnivals and festivals like
        Christmas and New Years. Each place is lit beautifully and has some or the other party going on.
    </p>
</div>