<div class="headerstrap">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a  routerLink="/login">Login</a>
        <a routerLink="/sign-up">Sign Up</a>
        <a routerLink="/login">My orders</a>
        <a routerLink="/login">My Inquiries</a>
        <a href="https://play.google.com/store/apps/details?id=goa.tourism&hl=en">Download Goa app</a>
        <a href="https://chat.whatsapp.com/invite/4kDlzjGGRUy6XTk4wIvFQZ">Whatsapp group</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/contact-us">Contact us</a>
    </div>

    <div id="main">
        <span style="font-size:35px;cursor:pointer" (click)="openNav()"><b> &#9776; </b> </span>
    </div>

    <img class="logo" src="..\assets\Logo.png"> 
    <a routerLink="/"> <span>Goa</span> Travel Mate</a>
    <img class="logo" src="..\assets\Logo.png"> 

    <ul>
        <li><a href="#"></a>BROWSE <i class="fas fa-arrow-circle-down"></i>
            <div class="subMenu">
                <div class="col">
                    <h3>Category of place:</h3>
                    <button class="cat">Waterfall</button>
                    <button class="cat">Romantic</button>
                    <button class="cat">Beach</button>
                    <button class="cat">Shopping</button>
                    <button class="cat">Religious</button>
                    <button class="cat">Picnic</button>
                </div>
                <hr class="rounded">
                <div class="col">
                    <h3>Distance of Radius in KM:</h3>
                    <div class="km">
                        <input type="range" min="1" max="50" value="25" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                      </div>
                </div>
                <hr class="rounded">
                <div class="col">
                    <button class="butt">BROWSE <i class="fas fa-arrow-circle-down"></i></button>
                </div>
            </div>
        </li>

        <li><a href="#"></a>SEARCH <i class="fas fa-binoculars"></i>
            <div class="subMenu">
                <div class="col">
                    <h3>Search a place:</h3>
                    <input class="search" type="text" placeholder="Search..." id="search"><br>
                    <button class="butt">SEARCH <i class="fas fa-binoculars"></i></button>
                </div>
            </div>
        </li>

    </ul>

</div>