.mySidenav a {
    font-size: 60px;
    height: 0px;
    color: white;

}

.name{
    display: inline-block;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 60px;
}

a span{
    color: #4d3c82;
}

.headerstrap ul{
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
    line-height: 60px;
}

.headerstrap ul li{
    display: inline-block;
    margin: 10px 15px;
    padding: 0 15px;
    border: 3px solid white;
    border-radius: 10px;
    
}

.headerstrap ul li .close:hover{
    transition: all 0.7s;
}

.headerstrap ul li .subMenu{
    position: absolute;
    background: gray;
    left: 41%;
    right: 10px;
    top: 70px;
    padding: 25px 15px;
    z-index: 1;
    visibility: hidden;
}

.headerstrap ul li:hover{
    border: black;
    color: white;
    transition: all 0.7s;
    background-color: gold;
    cursor: pointer;
}

.headerstrap ul li:hover .subMenu{
    visibility: visible;
}

.headerstrap ul li .subMenu .col .cat{
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    max-width: 100px;
}

.km {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
  }

.headerstrap ul li .subMenu .col .cat:hover{
    border: black;
    color: white;
    transition: all 0.7s;
    background-color: gold;
}

.headerstrap ul li .subMenu .col .butt{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    
}

.headerstrap ul li .subMenu .col .butt:hover{
    border: black;
    color: white;
    transition: all 0.7s;
    background-color: gold;
}

.headerstrap ul li .subMenu .col .search{
    width: 100%;
}

.headerstrap ul li a{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
}


img{
    height: 50px;
    width: 50px;
    margin-bottom: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.headerstrap {
    color: black;
    width: 100%;
    background-color: rgb(12, 199, 190);
}

body {
    font-family: "Lato", sans-serif;
}

.search-box{
    position: absolute;
    top: 6%;
    left: 90%;
    transform: translate(-50%,-50%);
    background: #cbd4d4;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-btn {
    color: blue;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#4d3c82;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
        border: none;
        background: none;
        outline: none;
        color: #4d3c82;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 65px;
        color: b#4d3c82;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 5%;
    display: inline-block;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }
    .sidenav a {
        font-size: 18px;
    }
}