<div class="einfo">
    <div class="name">
        <h1>FLYBOARDING</h1>
    </div>

    <div class="description">
        <h3>Ratings: </h3>

        <star-rating 
            class="star"
            value="5" 
            totalstars="5" 
            checkedcolor="red" 
            uncheckedcolor="black" 
            size="27px" 
            readonly="true" 
            (rate)="onRate($event)">
        </star-rating>
        
        <h3>Description: </h3>
        <h4>Enjoy the FlyBoarding in Goa, exciting Flyboarding experiences. We offer the best and reasonable Flyboarding in Goa. Flyboarding is a whole new adventure that is enjoyable for thrill and adventure-seekers. Make sure to bring a camera because you’re sure to want to capture this memorable experience and take amazing Flyboard shots that you can brag about to your loved ones.  Get an unforgettable experience in Goa by trying out the newest extreme Flyboarding! Experience an excellent view as you fly high over the Chapora River Be joined by expert instructors who will take you through basic tactics Come home with an astounding experience, photos, and videos to share with friends!</h4>    
        <br>
    </div>

    <div class="image">
        <img src="\assets\FLYBOARDING.jpg" >
    </div>

    
</div>
